@import url('https://fonts.cdnfonts.com/css/poppins');

body{
  font-family:'Poppins', sans-serif;
  margin: 0;
  font-size: 16px;
  background-color: #E5E5E5;
}

.pf-wrap{
  max-width: 375px;
  border: 1px solid black;
  margin: 5vh auto 5vh auto;
}

.pf-header{
  background-color: white;
  padding: 1rem;
}

.pf-logo{
  width: 56px;
}
