body {
  font-family: "Poppins", sans-serif;
  color: #172b4d;
  margin: 0;
  font-size: 16px;
  background-color: #b9b7b7;
}

h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  padding-right: 20%;
}

h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin: 8px 0 0;
}

h4 {
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
}

a {
  text-decoration: none;
}

hr {
  border-color: #dfe1e6;
  opacity: 0.4;
}

.pf-wrap {
  max-width: 375px;
  height: auto;
  margin: 0 auto;
  background-image: url("./img/header-background-mobile.png");
  background-repeat: no-repeat;
  background-color: #e5e5e5;
}

.pf-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.pf-logo {
  width: 56px;
}

.material-symbols-outlined {
  color: #6070ff;
}

.material-symbols-outlined:hover {
  font-size: 28px;
} /* navbar code end  */

.pf-headline {
  background-image: url("./img/header-shapes-mobile.png");
  min-height: 600px;
  background-repeat: no-repeat;
}

.contents {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.contents > p {
  font-weight: 400;
  margin-top: 0;
  line-height: 24px;
  color: #344563;
}

.card > p {
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  margin: 0 0 28px 0;
}

.social-link > a > p {
  color: #7f8cff;
}

.social-link > ul {
  list-style: none;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  padding: 0;
  gap: 7%;
}

.pf-works {
  margin-top: 30%;
}

.pf-portfolio {
  background-color: #e5e5e5;
  display: grid;
  row-gap: 80px;
  justify-content: space-around;
  grid-template-columns: 338px;
}

.card {
  background-color: #ffff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding: 20px;
}

.under-header-text {
  display: flex;
  align-items: center;
  margin-top: -9px;
}

.under-header-text > ul {
  display: flex;
  gap: 29px;
  color: #7a869a;
  font-size: 13px;
  font-weight: 600;
  margin-top: 9px;
  padding-left: 28px;
  list-style: url("./img/ul-bullet.png");
}

.buttons {
  display: flex;
  gap: 8px;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.btn {
  background-color: #ebebff;
  border-radius: 8px;
  border: none;
  color: #6070ff;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
}

.btn:hover {
  background-color: transparent;
  border: 1px solid #6070ff;
}

.btn-large {
  background-color: transparent;
  border: 1px solid #6070ff;
  border-radius: 8px;
  color: #396df2;
  padding: 12px 12px;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  font-size: 17px;
  margin-top: 22px;
}

.btn-large:hover {
  color: #fff;
  background-color: #6070ff;
  font-weight: bold;
}

.pf-about > .contents > .btn-large {
  width: 160px;
}

.pf-about {
  background-color: #ffff;
  border-top-right-radius: 85px;
  margin-top: 100px;
  padding-top: 40px;
  padding-bottom: 180px;
}

.section-dropdown {
  margin-top: 35px;
  padding: 0 12px;
}

.drop-down {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  list-style: none;
  padding-left: 0;
}

.dd-box {
  display: flex;
  background: #f7f7f9;
  border-radius: 8px;
  gap: 12px;
  justify-content: flex-start;
  margin: 10px 0;
  padding: 10px;
}

.dd-box:hover {
  background-color: transparent;
  border: 1px solid #f7f7f9;
}

.pf-contact-form {
  background-color: #6070ff;
  margin-top: -110px;
  border-top-left-radius: 75px;
}

.form-div {
  background-image: url("./img/cf-shapes-mobile-bg.png");
  background-repeat: no-repeat;
  background-position: 100% 40px;
  min-height: 750px;
  padding-top: 90px;
}

.cf-h1 {
  text-align: center;
  padding: 0;
  color: #fff;
}

.cf-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  margin: 20px 19px;
  color: #fff;
}

.cf-form > form {
  display: flex;
  margin-top: 50px;
  flex-direction: column;
}

input {
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  margin: 12px 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  padding: 14px;
}

input::placeholder {
  color: #172b4d;
}
